{% block Javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.min.js"
        integrity="sha512-+UYTD5L/bU1sgAfWA0ELK5RlQ811q8wZIocqI7+K0Lhh8yVdIoAMEs96wJAIbgFvzynPm36ZCXtkydxu1cs27w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block content1 %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // setup
<!-- Color spectrum -->
   const color = [
  '#4dc9f6',
  '#f67019',
  '#f53794',
  '#537bc4',
  '#acc236',
  '#166a8f',
  '#00a950',
  '#58595b',
  '#8549ba'
];
<!-- Defined Labels -->
    const labels = [
    "Rahab Ndoro",
    "Simon Mungai",
    "Stephen Kimani",
    "Joseph Irungu",
    "Peter Kabinga",
    "Margret Githu",
    "Salome kiarie",
    "Irene Nyamwaro"
    ];

    const data = {
      labels: labels,
      datasets: [
      {
        label: 'Total Lessons',
        data: [80, 110, 210, 110, 200, 140, 177, 170],
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)',
          'rgba(154, 62, 230, 0.2)',
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)',
          'rgba(154, 62, 230, 1)',
        ],
        borderWidth: 1
      },
       {
      label: "Lessons Attended",
      backgroundColor: "lightblue",
      borderColor: "blue",
      borderWidth: 1,
      data: [78, 100, 207, 110, 200, 140, 177, 170,]
    },
       {
      label: "Lessons Not Attended",
      backgroundColor: "lightgreen",
      borderColor: "green",
      borderWidth: 1,
      data: [2, 10, 3, 0, 0, 0, 3, 0],
      type: 'line'
    },
       {
      label: "Lessons Recovered",
      backgroundColor: "yellow",
      borderColor: "orange",
      borderWidth: 1,
      data: [0, 2, 3, 0, 0, 0, 3, 0]
    }
      ]
    };

    // config
    const config = {
      responsive: true,
      type: 'bar',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    function addDataset(){
        const newDataset = {
        label: 'Dataset #' + (data.datasets.length +1),
        data: [1, 2, 3, 4, 5, 6, 7],
        backgroundColor: 'Color',
        borderColor: '#B0BF1A',
        borderWidth: 1
        };
        myChart.data.datasets.push(newDataset);
        myChart.update();
    }

    function removeDataset(){
        myChart.data.datasets.pop();
        myChart.update();
    }

    function addData(){
   const newData = {
        label: 'Dataset #' + (data.datasets.length +1),
        data: [1, 2, 3, 4, 5, 6, 7],
        backgroundColor: 'Color',
        borderColor: '#B0BF1A',
        borderWidth: 1
        };
    myChart.data.labels.push(newData);
    myChart.update();
    }

    function removeData(){
    myChart.data.labels.pop();
    myChart.update();
    }
      // pop = remove the last value of the array
      // shift = remove the first value of the array
      // push = adding a value to the end of the array
      // unshift = add a value at the beginning of the array

</script>
{% endblock %}

{% block content2 %}
<script>
   let selfChart = document.getElementById('selfChart').getContext('2d');
   let userChart = document.getElementById('userChart').getContext('2d');


    let IndividualPerformanceChart = new Chart(selfChart, {
   type:'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
   data:{
      labels:['Teacher', 'Secretary', 'CasualWorker'],
      datasets:[{
      label:'performance',
      data:[
      50000,
      181045,
      ],
      //backgroundColor:'green',
      backgroundColor:[
      'violet',
      'yellow'
      ]
      }]
   },
   options:{}
   });
    let PerformanceLineChart = new Chart(userChart, {
   type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
   data:{
      labels:['Teacher', 'Secretary', 'CasualWorker', 'Cookers'],
      datasets:[{
      label:'performance',
      data:[
      15,
      25,
      10,],
      //backgroundColor:'green',
      backgroundColor:[
      'violet',
      'yellow'
      ]
      }]
   },
   options:{}
   });
{% endblock %}



</script>
{% endblock %}
<style>
.container{
width: 75%;
margin: 10px auto;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.chart-container{
  width: 45.33%;
  border: 1.5px solid black;
  padding: 25px 50px 75px;
  background-color: lightblue;
}
.chartBox{
  background: #f2f2f2;
  border: 1.5px solid black;
  padding: 25px 50px 75px;
  width: 100%;
}



</style>