<!-- Employee Modal -->
<div class="modal fade" id="Modal-Details-{{ user.employee_id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
           {{ user.first_name }} {{ user.last_name }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ user.description }}
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="Modal-Delete-{{ user.employee_id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLb">
           {{ user.first_name }} {{ user.last_name }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Employee from Database?
      </div>
        <div class="modal-footer">
           <a href="{{ url_for('delete', employee_id = user.employee_id) }}" class="btn btn-outline-danger btn-sm">
              Delete
          </a>
        </div>
    </div>
  </div>
</div>