{% extends 'base.html' %}
{% block title %}
   Employee page
{% endblock %}

{% block content %}
This page is descriptive  about your company's Employees
<nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background: #f6f0e8;">
 <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" style="font-size: 18px">
           <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('new_page') }}">
                    <i class="fas fa-user-plus">New Employee
                    </i>
                </a>
            </li>
      </ul>
     <form class="form-inline">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
 </div>
</nav>
<br>
<h1 style="text-align: center">Employee Data</h1>
<table class="table table-hover table-dark">
   <thead>
   <tr>
      <!-- Columns go HERE -->
       <th scope="col">Employee_id</th>
       <th scope="col">Username</th>
       <th scope="col">First_name</th>
       <th scope="col">Last_name</th>
       <th scope="col">Email_address</th>
       <th scope="col">Company</th>
   </tr>
   </thead>
   <tbody>
        <!-- Rows go HERE: -->
      {% for user in user %}
        <tr>
          <td>{{ user.employee_id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email_address }}</td>
          <td>{{ user.company }}</td>
        </tr>
      {% endfor %}
   </tbody>
</table>
 <style>
      body {
      font-size:14px;
      }
   </style>
{% endblock %}