{% extends 'base.html' %}
{% block title %}
   Employee page
{% endblock %}

{% block content %}
This page is descriptive  about your company's Employees
<br>
<h1 style="text-align: center">Employee Data</h1>
<table class="table table-hover table-dark">
   <thead>
   <tr>
      <!-- Columns go HERE -->
       <th scope="col">Employee_id</th>
       <th scope="col">Username</th>
       <th scope="col">First_name</th>
       <th scope="col">Last_name</th>
       <th scope="col">Email_address</th>
       <th scope="col">Department</th>
   </tr>
   </thead>
   <tbody>
        <!-- Rows go HERE: -->
      {% for user in user %}
          <td>{{ user.employee_id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email_address }}</td>
          <td>{{ user.department }}</td>
        </tr>
      {% endfor %}
   </tbody>
</table>
 <style>
      body {
      font-size:14px;
      }
   </style>
{% endblock %}