{% extends 'base.html' %}
{% block title %}
Home page
{% endblock %}

{% block content %}
This page decrypts your company's Employees performance
<br>
<br>
<br>
{% if current_user.is_authenticated %}
<div class="container">
    <canvas id="myChart"></canvas>
</div>
<br>
<br>
<br>
<div class="form-group row">
<div class="col-xs10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="selfChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="userChart"></canvas>
            </div>
        </div>
    </div>
</div>
</div>

{% endif %}
{% block Javascript %}
<script>
   let myChart = document.getElementById('myChart').getContext('2d');
   let selfChart = document.getElementById('selfChart').getContext('2d');
   let userChart = document.getElementById('userChart').getContext('2d');
  let arr ={{ arr }}


   let performanceChart = new Chart(myChart, {
   type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
   data:{
      labels:['Teacher', 'Secretary', 'CasualWorker', 'Cookers'],
      datasets:[{
      label:'performance',
      data:arr,
      //backgroundColor:'green',
      backgroundColor:[
      'pink',
      'cyan',
      'violet',
      'yellow'
      ]
      }]
   },
   options:{}
   });

    let IndividualPerformanceChart = new Chart(selfChart, {
   type:'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
   data:{
      labels:['Teacher', 'Secretary', 'CasualWorker', 'Cookers'],
      datasets:[{
      label:'performance',
      data:[
      50000,
      181045,
      ],
      //backgroundColor:'green',
      backgroundColor:[
      'violet',
      'yellow'
      ]
      }]
   },
   options:{}
   });
    let PerformanceLineChart = new Chart(userChart, {
   type:'radar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
   data:{
      labels:['Teacher', 'Secretary', 'CasualWorker', 'Cookers'],
      datasets:[{
      label:'performance',
      data:arr,
      //backgroundColor:'green',
      backgroundColor:[
      'violet',
      'yellow'
      ]
      }]
   },
   options:{}
   });






</script>
{% endblock %}
<style>

</style>
{% endblock %}